.nav-wrapper{
    width: 70%;
    margin: auto;
}
#sideInput{
    width: 80%;
}
.brand-logo{
    margin-top: 10px;
}
.brand-logo img{
    height: 52px;
}
.full{
    width: 100%;
}
#resultRow{
    border-bottom: 2px solid black;
    text-align: center; 
}

#frontCover{
    width: 50vh;
    display: block;
    margin: auto;
}
@media screen and (max-width: 600px){
    .brand-logo img{
        height: 45px;
    }
}