.nav-wrapper{
    width: 70%;
    margin: auto;
}
#sideInput{
    width: 80%;
}
#advanceField{
    padding: 0px 15px;
    margin-top: 5px;
    border-bottom: 1px solid grey;
}
.brand-logo{
    margin-top: 10px;
}
.brand-logo img{
    height: 52px;
}
.full{
    width: 100%;
}
#resultRow{
    text-align: center; 
}

#frontCover{
    width: 50vh;
    display: block;
    margin: auto;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.collapsible-body{
    padding: 0 20px;
}
@media screen and (max-width: 600px){
    .brand-logo img{
        height: 45px;
    }
}