.nav-wrapper{
    width: 70%;
    margin: auto;
}
#sideInput{
    width: 80%;
}
#advanceField{
    padding: 0px 15px;
    margin-top: 5px;
    border-bottom: 1px solid grey;
}
.brand-logo{
    margin-top: 10px;
}
.brand-logo img{
    height: 52px;
}
.full{
    width: 100%;
}
#resultRow{
    text-align: center; 
}

#frontCover{
    width: 50vh;
    display: block;
    margin: auto;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.collapsible-body{
    padding: 0 20px;
}
[name = "filterGroup"]::after{
    display: inline-block;
    padding-right: 20px;
}
@media screen and (max-width: 600px){
    .brand-logo img{
        height: 45px;
    }
}

.carousel {
    margin-top: 25px;
    max-height: 425px;
    background-color: white;
}

#downbutton {
    margin-top: 25px;
    margin-bottom: 70px;
    text-align: center;
      
}

.about {
    margin-top: 30px;
    height: 200px;
    margin-bottom: 25px;
    }

.aboutexplained{
    margin-top: 30px;             
    height: 200px;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: center;
}

.whyexplained {
    height: 200px;
    background-color: white;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: center;
    }

.why{
 
    height: 200px;
    margin-bottom: 25px;
    
}

.bookimg{
    margin-top: 50px;
    text-align: center;
    margin-left: 30px
    }

#bookImage{
    height: 350px;
    text-align: center;
    }
    

#buyLink{
   margin-top: -20px;
   text-align: center;
   
}

.bookinfo{

    margin-top: 30px;
    max-height: 2000px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
   
}

.twitter-share-button{
    
    text-align: center;
    margin-top: -80px;
    margin-bottom: 10px;
}

.card-title{
    font-size: 18px !important;
}
.card{
    height: 750px;
}
@media screen and (max-width: 600px){
    .card{
        height: 1000px;
    }
}
@media screen and (min-width: 600px) and (max-width: 992px){
    .card{
        height: 850px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .card{
        height: 650px;
    }
}
.paginationDiv{
    display: block;
}

.counter{
    margin-top: -15px;
    text-align: center;
}

footer{
    background-color: rgb(63, 63, 63);
    color: white
}